select * from Category;
go

select * from Contact;
go

select * from Supplier;
go

select * from Customer;
go

select * from Component;
go

select * from AssemblySubcomponent;
go

select * from Quote;
go

select * from QuoteComponent;
go