CREATE DATABASE [Cars]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cars', FILENAME = N'/var/opt/mssql/data/Cars.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cars_log', FILENAME = N'/var/opt/mssql/data/Cars.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [Cars]
GO
USE [Cars]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Cars] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
